# Normalize line endings for all text files
* text=auto eol=lf

# Exclude everything except the addons/ folder from the ZIP downloaded by the asset library
screenshots/ export-ignore
README.md export-ignore
LICENSE export-ignore
.gitignore export-ignore
.gitattributes export-ignore
